body{
   background-color: whitesmoke;
}




h1 {color:rgb(50, 99, 1);
font-weight: bold;}


p {
    
    text-align: center;
    margin: auto;
     place-items: centre ;




}

pre{ 

color: black;
font-size: large;
font: 200;
font-weight: 500;
}

a{  padding: 15px;
    display: flex;
    display: grid;
    text-align: center;
    margin: auto;
    color: blue;
    border-radius: 5px;
    text-decoration: none;
    place-items: centre ;
 }

 h3{

    display: flex;
    display: grid;
    text-align: center;
    margin: auto;
     place-items: centre ;
  

 }

 .Youtube Link{
    
    background: none;
 }

 
 h4{

  
   width: 10px;
   height: 2px;
     display: inline-block;

 }

 h5{
   width: 220px;

 }

  
 h6{

   width: 10px;
   height: 2px;

     display: inline-block;

 }

 .Piano{
   
   
   width: 10px;
   height: 2px;
     display: inline-block;
 }

 .Bass{
    
   color: red;
   width: 10px;
   height: 2px;
     display: inline-block;
     visibility: hidden;

 }

 .Inversion{
   color: blue;
   width: 10px;
   height: 2px;
     display: inline-block;
     visibility: hidden;
     
 }

 .BassButton{
   background-color: red;
   color: aliceblue;


 }

  .InvButton{
   background-color: blue;
   color: aliceblue;
   

 }

 .ChordNotesButton{
     background-color:lime;
   color: black;

 }




