body{
   background-color: whitesmoke;
   padding-top: 100px;
   
}

.TopScreenOverlay{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  left: 0px;
   width: 100%;
   
   background-color: green;
   border-color: black;
  
}

.bottomLayer{
   display: fixed;
   padding-top: 80px;
   color: white;
   background-color: green;


}

.SideBar{
  position:absolute;
  display: inline-block;
  width: 50px;
  height: 100%;
  background: green;
}

.PageHeading{
   display: block;
    position: relative;
    margin-top: 100px;

}


h1 {
  

font-weight: bold;

}


p {
  
    
    text-align: center;
    margin: auto;
     place-items: centre ;




}

pre{ 

color: black;
font-size: large;
font: 200;
font-weight: 500;
}



a{  padding: 15px;
    display: flex;
    display: grid;
    text-align: center;
    margin: auto;
    color: blue;
    border-radius: 5px;
    text-decoration: none;
    place-items: centre ;
 }

 h3{

    display: flex;
    display: grid;
    text-align: center;
    margin: auto;
     place-items: centre ;
  

 }

 .Youtube Link{
    
    background: none;
 }

 
 h4{

  
   width: 10px;
   height: 2px;
     display: inline-block;

 }

 h5{
   width: 220px;

 }

  
 h6{

   width: 10px;
   height: 2px;

     display: inline-block;

 }

 .Piano{
   
   
   width: 10px;
   height: 2px;
     display: inline-block;
 }


 .Piano:hover{
  background: cyan ;

 }

 .P1-4-5Major{
  position: relative;
  top: 75px;
display: inline-block;
  color: snow;
  background: green;
  width: 65px;
  opacity: 0;
  transition: 0.6s;

 }

 .P1-4-5Major:hover{
    opacity: 1;
 }

  .P2-3-6Minor{
  position: relative;
display: inline-block;
  color: snow;
  background: green;
  width: 65px;
  /* opacity: 0; */
 }

   .P7Diminished{
  position: relative;
display: inline-block;
  color: snow;
  background: green;
  width: 65px;
  /* opacity: 0; */
 }

 .P7b-Major{
    position: relative;
  top: 75px;
display: inline-block;
  color: snow;
  background: green;
  width: 65px;
  opacity: 0;
  transition: 0.6s;
 }

 .P7b-Major:hover{
  opacity: 1;
 }
 .Bass{
    
   color: red;
   width: 10px;
   height: 2px;
     display: inline-block;
     visibility: hidden;

 }

 .Inversion{
   color: blue;
   width: 10px;
   height: 2px;
     display: inline-block;
     visibility: hidden;
     
     
 }

 .BassButton{
   background-color: red;
   color: aliceblue;
   position: fixed;
   width: 100px;
   height: 80px;



 }

  .InvButton{
   background-color: blue;
   color: aliceblue;
   position: fixed;
   width: 100px;
   height: 80px;
   }

.SignUpButton{
   position: fixed;
   width: 70px;
   height: 80px;
   right: 0;
   

   }


 .ChordNotesButton{
     background-color:lime;
   color: black;
   position: fixed;


 }

 #ShowBass{
   left :0;}


#HideBass{
    left :100px;

 }
#ShowInversion{
   left :200px;


}
 #HideInversion{
   left :300px;
 }


 




