body{
   background-color: whitesmoke;
}




h1 {color:rgb(50, 99, 1);
font-weight: bold;}


p {
    color: whitesmoke;
    font-size: large;
    text-align: center;
    margin: auto;
     place-items: centre ;




}

a{  padding: 15px;
    display: flex;
    display: grid;
    text-align: center;
    margin: auto;
    color: blue;
    border-radius: 5px;
    text-decoration: none;
    place-items: centre ;
 }

 h3{

    display: flex;
    display: grid;
    text-align: center;
    margin: auto;
     place-items: centre ;
  

 }

 .Youtube Link{
    background: none;
 }

 
 h4{

  
   width: 10px;
   height: 2px;
     display: inline-block;

 }

  
 h6{

   width: 10px;
   height: 2px;

     display: inline-block;

 }

 .Piano{
   
   
   width: 10px;
   height: 2px;
     display: inline-block;
 }

 .Bass{
    
   
   width: 10px;
   height: 2px;
     display: inline-block;

 }

 .Inversion{
    color: brown;
   background-color: aqua;
   width: 10px;
   height: 2px;
     display: inline-block;
 }

 
